:root {
  --gradient1: hsl(6, 100%, 80%);
  --gradient2: hsl(335, 100%, 65%);

  --paleBlue: hsl(243, 100%, 93%);
  --grayishBlue: hsl(229, 7%, 55%);
  --dBlue: hsl(228, 56%, 26%);
  --vdBlue: hsl(229, 57%, 11%);
  --vdBlueOp: hsl(229, 57%, 11%, 0.5);
}

* {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*****************
***Body section***
******************/

body {
  text-align: center;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  display: grid;
  place-items: center;
}

main {
  min-width: 100vw;
  min-height: 100vh;
  background: url("./images/bg-mobile.png") no-repeat;
  background-size: cover;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/*****************
***Fylo section***
*****************/

.fylo {
  padding: 3rem 3rem 2rem;
  width: 343px;
  height: auto;
  text-align: left;
  background: var(--dBlue);
  border-radius: 10px 100px 10px 10px;
}

.logos {
  margin-top: 2rem;
}

.logos > div {
  margin-right: 10px;
  width: 42px;
  height: 42px;
  background-color: var(--vdBlue);
  display: inline-block;
  border-radius: 8px;
}

.item1 {
  background: url("./images/icon-document.svg") no-repeat center;
}

.item2 {
  background: url("./images/icon-folder.svg") no-repeat center;
}

.item3 {
  background: url("./images/icon-upload.svg") no-repeat center;
}

/********************
***Used GB section***
********************/

.storage {
  padding: 2rem 2rem 3rem;
  width: 343px;
  height: auto;
  background: var(--dBlue);
  border-radius: 10px;
  color: var(--paleBlue);
  position: relative;
}

.storage > h1 {
  margin-bottom: 1rem;
  font-size: 14px;
  font-weight: 400;
}

.storage > h1 > span {
  font-weight: 700;
}

/***********
***Slider***
***********/

.slider1 {
  margin-bottom: 0.5rem;
  width: 100%;
  height: 22px;
  padding: 2px;
  border-radius: 20px;
  background: var(--vdBlueOp);
}

.slider2 {
  height: 100%;
  width: 81.5%;
  padding: 2px;
  border-radius: 20px;

  background: linear-gradient(90deg, var(--gradient1), var(--gradient2));
}

.ball {
  height: 12px;
  width: 12px;
  float: right;
  border-radius: 50%;
  background: white;
}

.gb1000 {
  font-size: 13px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

/********************
***GB Left section***
********************/

.gigaB {
  padding: 1.25rem;
  width: 160px;
  height: auto;
  border-radius: 10px;
  background: white;
  text-align: center;
  color: var(--vdBlue);
  font-size: 2rem;
  font-weight: 700;
  position: absolute;
  right: 91px;
  bottom: -37px;
}

.gigaB span.right {
  font-size: 13px;
  opacity: 0.5;
}

/************************
***Media query section***
************************/

@media screen and (min-width: 800px) {
  main {
    background: url("./images/bg-desktop.png") no-repeat var(--vdBlue);
    background-position: 0 50vh;
    background-size: contain;
    padding: 2rem;
    flex-direction: row;
    gap: 2rem;
  }
  .storage {
    width: 42%;
    position: relative;
    top: 20.5px;
  }
  .storage > h1 {
    text-align: left;
  }

  .gigaB {
    width: 200px;
    border-radius: 10px 10px 0 10px;
    right: 32px;
    bottom: 132px;
    font-size: 2.25rem;
  }

  .gigaB > p {
    position: relative;
  }

  .gigaB > p::before {
    content: "";
    position: absolute;
    bottom: 100%;
    right: -20px;
    top: 50px;
    border: 1.75rem solid transparent;
    border-bottom: none;
    border-right: none;
    border-top-color: #ffffff;
  }
}
