:root {
  --gradient1: hsl(6, 100%, 80%);
  --gradient2: hsl(335, 100%, 65%);

  --paleBlue: hsl(243, 100%, 93%);
  --grayishBlue: hsl(229, 7%, 55%);
  --dBlue: hsl(228, 56%, 26%);
  --vdBlue: hsl(229, 57%, 11%);
}

* {
  border: 1px solid red;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*****************
***Body section***
******************/

body {
  text-align: center;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  display: grid;
  place-items: center;
}

main {
  min-width: 100vw;
  min-height: 100vh;
  background: var(--lGrayishBlue);
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

/*****************
***Fylo section***
*****************/

.fylo {
  padding: 2rem;
  width: 343px;
  height: auto;
  text-align: left;
  background: var(--dBlue);
  border-radius: 10px 100px 10px 10px;
}

.logos {
  margin-top: 2rem;
}

.logos > div {
  margin-right: 10px;
  width: 42px;
  height: 42px;
  background-color: var(--vdBlue);
  display: inline-block;
  border-radius: 8px;
}

.item1 {
  background: url("./images/icon-document.svg") no-repeat center;
}

.item2 {
  background: url("./images/icon-folder.svg") no-repeat center;
}

.item3 {
  background: url("./images/icon-upload.svg") no-repeat center;
}

/********************
***Used GB section***
********************/

/********************
***GB Left section***
********************/

/************************
***Media query section***
************************/

@media screen and (min-width: 800px) {
}

@media screen and (min-width: 1300px) {
}
